$dimensions: (
  xsmall: 'xs',
  small:  'sm',
  medium: 'md',
  large:  'lg'
) !default;

$breakpoints: (
  xsmall: 0em,
  small:  48em,
  medium: 64em,
  large:  75em
) !default;

$containers: (
  xsmall: 100%,
  small:  49rem,
  medium: 65rem,
  large:  76rem
) !default;
