.container,
.container-fluid {
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  padding-left: 2rem;
  padding-right: 2rem;
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem;

  &.reverse { flex-direction: row-reverse; }
}

.col {
  &.reverse { flex-direction: column-reverse; }
}

@each $key, $dimension in $dimensions {
  @include container-generator($key);

  @include column-generator($key, $dimension, 12);
}
