@import 'breakpoints';

@mixin container-generator($key) {
  @media only screen and (min-width: map-get($breakpoints, $key)) {
    .container { width: map-get($containers, $key)}
  }
}

@mixin column-generator($key, $dimension, $cols) {
  @media only screen and (min-width: map-get($breakpoints, $key)) {
    [class^="col-#{$dimension}"] {
      flex: 0 0 auto;
      padding-left: .5rem;
      padding-right: .5rem;
    }

    .col-#{$dimension} {
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
    }

    .start-#{$dimension} {
      justify-content: flex-start;
      text-align: start;
    }
    .center-#{$dimension} {
      justify-content: center;
      text-align: center;
    }
    .end-#{$dimension} {
      justify-content: flex-end;
      text-align: end;
    }

    .top-#{$dimension} { align-items: flex-start; }
    .middle-#{$dimension} { align-items: center; }
    .bottom-#{$dimension} { align-items: flex-end; }

    .around-#{$dimension} { justify-content: space-around; }
    .between-#{$dimension} { justify-content: space-between; }

    .first-#{$dimension} { order: -1; }
    .last-#{$dimension} { order: 1; }

    @for $i from 1 through $cols {
      .col-#{$dimension}-#{$i} {
        flex-basis: 100% * $i / $cols;
        max-width: 100% * $i / $cols;
      }
      .col-#{$dimension}-offset-#{$i - 1} {
        margin-left: 100% * ($i - 1) / $cols;
      }
    }
  }
}